#ue1{
	background-color:green;
	color:red;
}
#ue2{
	background-color:black;
	color:white;
}
#ue3{
	background-color:orange;
	color:yellow;
}
#ue4{
	background-color:blue;
	color:purple;
}
#ue5{
	background-color:purple;
	color:orange;
}
#ue6{
	background-color:yellow;
	color:blue;
}
#ue7{
	background-color:grey;
	color:green;
}
#ue8{
	background-color:red;
	color:orange;
}
#ue9{
	background-color:black;
	color:orange;
}
#ue10{
	background-color:blue;
	color:white;
}
#ue11{
	background-color:green;
	color:red;
}
#ue12{
	background-color:purple;
	color:white;
}